.btn-log {
    position: absolute;
    top: 10px;
    right: 72px;
}

.work-logged {
    /*margin-right: 40px;*/
    position: absolute !important;
    top: 3px !important;
    right: 8px !important;
}

.work-available {
    position: absolute !important;
    top: 27px !important;
    right: 3px !important;
}

.btn-space {
    margin-right: 8px;
    font-weight: bold;
}

.element-relative {
    position: relative;
}

.badge-logwork {
    position: absolute !important;
    top: 27px !important;
    right: 53px !important;
}


/*.badge-time-spent {
    position: absolute;
    top: 3px;
    right: -30px
}*/
