<ion-view view-title="Setting">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.useCurrentUser">
                Use Current User
            </ion-toggle>
            <label class="item item-input item-stacked-label" ng-show='!settings.useCurrentUser'>
                <span class="input-label">User name :</span>
                <input type="text" placeholder="write a user name" ng-model='settings.userName' style='text-transform: uppercase;'>
            </label>
            <ion-toggle ng-model="settings.useDefaultProject">
                Show Defaul Project (RMTOOLS)
            </ion-toggle>
            <label class="item item-input item-stacked-label" ng-show='!settings.useDefaultProject'>
                <span class="input-label">Project Name :</span>
                <input type="text" placeholder="Write a project name" ng-model='settings.projectName' style='text-transform: uppercase;'>
            </label>
            <ion-toggle ng-model="settings.useDefaultDate">
                Show Defaul Date (Current Date + 10)
            </ion-toggle>
            <label class="item item-input item-stacked-label" ng-show='!settings.useDefaultDate'>
                <span class="input-label">Fecha Inicio :</span>
                <input type="text" placeholder="Escriba en formato MM/DD/YYY" ng-model='settings.startDate'>
            </label>
            <label class="item item-input item-stacked-label" ng-show='!settings.useDefaultDate'>
                <span class="input-label">Fecha Final :</span>
                <input type="text" placeholder="Escriba en formato MM/DD/YYY" ng-model='settings.endDate'>
                <onezone-datepicker datepicker-object="onezoneDatepicker">
                    <button class="button button-block button-outline button-positive show-onezone-datepicker">
                        {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
                    </button>
                </onezone-datepicker>
                <!--   <label class="item item-input item-stacked-label">
                <span class="input-label">Start Date :</span>
                <input type="text" place
holder="Select a date MM/DD/YYYY" ng-model="datepicker" name="datepicker" ng-click="opendateModal()" readonly>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">End Date :</span>
                <input type="text" placeholder="Select a date MM/DD/YYYY" ng-model="datepicker" name="datepicker" ng-click="opendateModal()" readonly>
            </label> -->
        </ion-list>
    </ion-content>
</ion-view>
